@-webkit-keyframes font-size-change { /* CSS code */
  from {
    height: 10%;
  }
  50% {
    height: 30%;
  }
  to {
    height: 10%;
   }}
@-moz-keyframes font-size-change { /* CSS code */
  from {
    height: 10%;
  }
  50% {
    height: 30%;
  }
  to {
    height: 10%;
   }}
@-o-keyframes font-size-change {
  from {
    height: 10%;
  }
  50% {
    height: 30%;
  }
  to {
    height: 10%;
   }
}
@keyframes change-font-size {
  from {
    height: 10%;
  }
  50% {
    height: 30%;
  }
  to {
    height: 10%;
   }
 }

body {
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

a:visited {
  color: green;
}

li:nth-child(3n) {
  border: solid;
}

h1:hover {
   background-color: gold;
  }
  
li:hover {
  margin-left: 50px;
}

p.p {
  background: #B4A7CA;
  width: 130px;
  height: 100px;
}

p.p:hover {
  backface-visibility: visible;
  transform: rotateY(180deg); 
}

.container {
  width: 150px;
  height: 150px;
  margin: auto;
}

.cube {
  width: 100%;
  height: 100%;
  perspective: 550px;
  perspective-origin: 150% 150%;
  transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  /* hide the back face */
  backface-visibility: hidden;
}

#front {
  background: rgba(255, 225, 225, 0.5);
  transform: translateZ(50px);
}

#back {
  background: rgba(0, 255, 225, 0.5);
  transform: rotateY(180deg) translateZ(50px);
}

#right {
  background: rgba(225, 0, 225, 0.5);
  transform: rotateY(90deg) translateZ(50px);
}

#left {
  background: rgba(225, 0, 225, 0.5);
  transform: rotateY(-90deg) translateZ(50px);
}

#top {
  background: rgba(225, 225, 0, 0.5);
  transform: rotateX(90deg) translateZ(50px);
}

#bottom {
  background: rgba(225, 225, 0, 0.5);
  transform: rotateX(-90deg) translateZ(50px);
}


h1 {
  /* animation-name: change-font-size;
  animation-duration: 3s;
  animation-iteration-count:infinite; */
  /* -webkit-animation-name: font-size-change;
  -moz-animation-name: font-size-change;
  -o-animation-name: font-size-change;
  animation-name: font-size-change;*/
  animation: change-font-size 2s 3; 
  -webkit-animation:change-font-size 2s 3;
}

.login {
  border: 1px solid red;
  border-radius: 5%;
  background-color: rgb(39, 223, 192);
  color: aliceblue;
  width: 130px;
  height: 30px;
}
.login {
  transition: background-color;
}

.login:hover {
  background-color: rgb(42, 168, 147);
}

.grid-container{
  border:2px solid #007BFF;
  text-align: center;
  padding: 5px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  gap:5px;
}

.grid-item{
  border: 1px dashed #007BFF;
  font-weight: bold;
  color: #007BFF;
}

.item-4{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row: 1/3;
  /* grid-row-start: 1;
  grid-row-end: 3; */
  
}

.grid {
  text-align: center;
  display: grid;
  /* grid-template-areas:
    "item-11 item-21 item-31 item-41"; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4,1fr); */
  grid-template-columns: repeat(auto-fill,100px);
  grid-template-rows: 100px 100px;
  grid-gap: 20px;

  grid-auto-columns: 200px;
  grid-auto-rows: 60px;
  max-width: 800px;
} 

.item-11 {
  /* grid-area: item-11; */
  background-color: rgb(215, 181, 246);
  grid-column-start: -1;
}

.item-21 {
  /* grid-area: item-21; */
  background-color: rgb(215, 181, 246);
  grid-row-start: 4;
}

.item-31 {
  /* grid-area: item-31; */
  background-color: rgb(215, 181, 246);
}

.item-41 {
  /* grid-area: item-41; */
  background-color: rgb(215, 181, 246);
}

.container-pseudo {
  font-size: 1.5em;
  padding:1em;
  position:relative;
  margin: 2em 0 0 25vw;
  width 50vw;
}

.container-pseudo::before,
.container-pseudo::after {
    position: absolute;
    top: 1em;
    font-size: 2em;
    background: #e9e9e9;
    padding: .2em;
    line-height: 2.5em;

}

.container-pseudo::before {
  content: open-quote;
  left: -50px;
}

.container-pseudo::after {
  content: close-quote;
  right: -50px;
}

.container_outside {
  width: 50vw;
  height: 80vh;
  margin: 10vh 0 0 25vw;
  background: url('https://i.ibb.co/ngx7VSR/photo-2021-04-19-21-24-36.jpg');
  background-position: center;
  background-size: cover;
  color: white;

  filter: brightness(.5);
}

.container_inside {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: calc(100% - 4em);
  justify-content: center;
  padding: 2em;
  text-align: center;
  width: calc(100% - 4em);
}

.small {
  color: gray;
  font-size: .7em;
}